.view-wrap {
    padding: 30rpx;
}

.action-button {
    margin-top: 30rpx;
}

.submit-button {
    margin: 30rpx;
}

.form-item-conent {
    display: flex;
    align-items: center;
}

.info-title {
    margin-top: 30rpx;
    margin-bottom: 30rpx;
    color: #3c9cff;
}
