@font-face {
  font-family: iconfont;
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.x-mart-playback::before {
  content: "\e61e";
}

.x-mart-circulate::before {
  content: "\e622";
}

.x-mart-review::before {
  content: "\e715";
}

.x-mart-outflow::before {
  content: "\eb1c";
}

.x-mart-register::before {
  content: "\e80b";
}

.x-mart-water::before {
  content: "\e651";
}

.x-mart-order::before {
  content: "\e8ae";
}

.x-mart-matching::before {
  content: "\e7bb";
}

.x-mart-ex-factory::before {
  content: "\e7e8";
}

.x-mart-inflow::before {
  content: "\e60f";
}

.x-mart-packing::before {
  content: "\e600";
}

.x-mart-recheck::before {
  content: "\e663";
}

.x-mart-analysis::before {
  content: "\ea3f";
}

.x-mart-return::before {
  content: "\e60d";
}

.x-mart-in::before {
  content: "\e606";
}

